@import "assets/styles/reset";
@import "src/assets/styles/app";
@import "assets/styles/fonts";
@import "assets/styles/button";
@import "assets/styles/form";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
